<div class="container head">

  <div>
    <%= link_to "Back to challenges list", challenges_path, class: "btn btn-outline-secondary" %>
  </div>
<br>
<br>
  <h1>Ranking</h1>

  <div class="table-responsive table table-striped">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nickname</th>
          <th scope="col" class="bg-success">Score</th>
          <% Challenge.all.each do |challenge| %>
            <th scope="col"><%= challenge.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% User.all.each_with_index do |u, i| %>
          <tr>
            <th scope="row"><%= i + 1 %></th>
            <td><%= u.nickname %></td>
            <td class="bg-success">18</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
