<ul class="comment-section">
  <li class="comment user-comment d-flex">
    <%= cl_image_tag comment.user.photo, class: 'avatar-md', title: comment.user.first_name %>
    <div>
      <div class="comment-content">
        <p><%= comment.content %></p>
      </div>
      <div class="d-flex flex-row-reverse">
          <p><i><%= comment.created_at.strftime("%d/%m/%Y at %Hh%M")%></i></p>
      </div>
    </div>
  </li>
</ul>
