<div class="container">
  <h5>Enter result</h5>

    <p><%= @participant.user.nickname %></p>
    <%= simple_form_for(@participant) do |f| %>
      <div class="form-group">
        <%= f.input :rank, class: 'form-control', label: 'Rank', required: true, :collection => %w[1 2 3 4 5 6 ]  %>
      </div>

      <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>

</div>


</div>
