<div class="container">
  <h1>
    Welcome to the Brolife Challenge
  </h1>

  <div class="jumbotron">
    <div class="display-4">
      <h5>Read carfully the rules below before starting:</h5>
      <p>#1 Do not talk about Brolife Challenge</p>
      <p>#2 Complete your profile</p>
      <p>#3 Create your challenge</p>
      <p>#4 Accept challenges assigned to you and fight with bravery</p>
    </div>
    <div class="space-margin">
      <h3>
         <%= link_to ">>> Get in the game <<<", challenges_path, class: "btn btn-primary btn-lg btn-block" %>
      </h3>
    </div>
  </div>
</div>
