<h1>
  Liste des challenges en cours
</h1>

<% @challenges.each do |challenge| %>
  <h2><%= challenge.name %></h2>
  <p><%= challenge.description %></p>
  <p><%= challenge.reward %></p>
<% end %>

<%= link_to "Create a new challenge", new_challenge_path %>
