
.card-base {
  display: flex;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 30px
}

.card-base h2 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.card-base h3 {
  font-size: 1em;
  margin: 0;
}

.card-base p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.high-section {
  display: flex;
  justify-content: space-between;
}

.gif {
  height: 120px;
  width: 200px;
}

.gif-box {
  // height: 150px;
  // width: 200px;
}


@media(min-width: 992px) {
  .card-container {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
}

@media(max-width: 992px) {
  .card-container {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

@media(max-width: 768px) {
  .card-container {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

