p {
  font-size: 0.8em;
  font-weight: lighter;
}

.head {
  margin-bottom: 5vh;
  margin-top: 10px;
}

@media (max-width: 770px) {
    .head {
    text-align: center;
  }
    .gif-lg {
      margin: 15px !important;
      width: 70vw !important;
  }
}

.gif-lg {
  width: 40vw;
  height: 30vh;
}

.modify {
  flex-direction: column;
}

.corp {
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-color: white;
  padding: 10px;
}

.corp h6 {
  margin-top: 10px;
}

.corp-desc {
  width: 45%;
}

.corp-participants {
  width: 45%;
}

.avtext {
  text-align: center;
}

.avtext p {
  margin: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

ul {
  list-style:none;
  padding: 0;
}

.comment-content {
  background-color: #afe2ed;
  border-radius: 10px;
  margin-left: 10px;
  padding: 8px;
  width: 75vw;
}

.comment-content p{
  margin: 0;
}

#new_comment {
  margin-bottom: 3vh;
}
