// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "button";
@import "challengeshow";

.below {
  display: flex;
  justify-content: space-between;
}

.card-margin {
  margin: 2em 3em;
}

.gif {
  height: 220px;
}

.space-margin {
  margin-top: 60px;
  margin-bottom: 20px;
}

.jumbotron {
  margin-top: 50px;
}

.display-4 p {
  font-size: initial;
}

.display-4 h5 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container h1 {
  text-align: center;
  margin-top: 20px;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: rgba(153, 153, 153, 0.8);
    color: #FFFFFF;
    text-align: center;
}

.text-align-center  {
  text-align: center;
  margin: 3vh 0;
}

.countdown {
  border-width:  1px;
  // border-color: red !important;
  text-align: center;
  border: solid;
  font-size: 2rem;
  color: white !important;
  background-color: black;
  margin-top: 10px;
  padding-top: 5px;
}

.countdown h5 {
  font-weight: bold;
  margin: 0 5px;
}

.timer h5 {

}
