// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "button";

.below {
  display: flex;
  justify-content: space-between;
}

.card-margin {
  margin: 2em 3em;
}

.gif {
  height: 220px;
}
