.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  height: 60px
}

@media (max-width: 770px) {
  .dropdown-toggle {
    position: relative;
    left: 136px;
  }
}
